._2qDABxIhG58DjS3SnGcdQ4 {
  overflow: hidden;
  background: #fff;
  margin-bottom: 15px;
  max-height: 170px;
}

._2qDABxIhG58DjS3SnGcdQ4 ._11TYQrv0WY_3j7bGnRwtih {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}


._2qDABxIhG58DjS3SnGcdQ4 ._11TYQrv0WY_3j7bGnRwtih .efeR5uyg2vbdcC1mfhm1B {
  display: block;
  width: 44px;
  text-align: center;
  position: relative;
}

._2qDABxIhG58DjS3SnGcdQ4 ._11TYQrv0WY_3j7bGnRwtih .efeR5uyg2vbdcC1mfhm1B .lYqlChWY4rNp3-JYyHmhG {
  position: relative;
  margin: 0 auto;
}

._2qDABxIhG58DjS3SnGcdQ4 ._11TYQrv0WY_3j7bGnRwtih .efeR5uyg2vbdcC1mfhm1B ._35aWbI-Ceo7eXbrvcqpnOb {
  width: 44px;
  line-height: 1.4;
  white-space: nowrap;
  color: #333;
  font-size: 11px;
}

._2qDABxIhG58DjS3SnGcdQ4 ._11TYQrv0WY_3j7bGnRwtih .efeR5uyg2vbdcC1mfhm1B .lYqlChWY4rNp3-JYyHmhG ._3_juUbSw5kiHB8btC6rFF6 {
  width: 44px;
  height: 44px;
  object-fit: cover;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  margin-top: 15px;
}

.lazyimage-holder .lazyimage-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}